@use "/src/styles/modules";

.login-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .logo {
    margin-bottom: 12px;
  }
  .title {
    color: modules.$black;
    margin-bottom: 40px;
    text-align: center;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .input-field:first-child {
    margin-bottom: 8px;
  }

  .error-text {
    color: modules.$red;
    margin-top: 4px;
  }
  .button-section {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-top: 32px;
  }
}
