.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button-icon-text {
  display: flex;
  align-items: center;
  gap: 4px;

  img {
    width: 16px;
    height: 16px;
  }
}
