@use "/src/styles/modules";

.ouline-button {
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid currentColor;

  cursor: pointer;

  &.disabled {
    color: modules.$gray-400;
    background-color: modules.$gray-200;
  }

  &[data-size="small"] {
    padding: 7px 8px;
    width: fit-content;
  }

  &[data-size="large"] {
    padding: 12px 0;
    width: 100%;
  }
}
