@use "/src/styles/modules";

.mbti-vote-card-container {
  width: 100%;
  border-radius: 8px;
  padding: 12px 16px;

  .title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 13px;

    .image-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 40px;
      height: 40px;
      background: modules.$white;
      border-radius: 100%;
      margin-right: 6px;
    }

    .title-text {
      margin-right: 4px;
    }

    .subtitle-text {
      color: modules.$gray-300;
    }
  }
  .mbti-score-graph-container {
    padding: 0 7px;
  }
}

.no-votes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 160px;
  background: modules.$gray-100;
  border-radius: 8px;

  .no-votes-text {
    color: modules.$gray-300;
  }
}
