@use "/src/styles/modules";

.guestbook-layout {
  .guestbook-form {
    display: flex;
    flex-direction: column;

    .title {
      margin: 26px 0 8px 0;
    }

    .anonymous-checkbox {
      display: flex;
      align-items: center;
      gap: 4px;
      margin-bottom: 20px;
      color: modules.$purple-300;
      cursor: pointer;
    }

    .message-input {
      height: 100px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      margin-bottom: 32px;
      font-size: 14px;
      resize: none;
      &:focus {
        border-color: modules.$purple-300;
        outline: none;
      }
    }

    .mbti-section {
      margin-bottom: 38px;
      .mbti-title {
        margin-bottom: 24px;
      }

      .mbti-preview {
        display: flex;
        justify-content: center;
        gap: 4px;
        margin-bottom: 24px;

        .mbti-letter {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #ccc;
          border-radius: 6px;

          &.selected {
            border: 1px solid modules.$purple-300;
          }
        }
      }

      .mbti-selector {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 0 40px;

        .mbti-row {
          display: flex;
          gap: 8px;

          .mbti-button {
            flex: 1;
            padding: 12px 0;
            border-radius: 999px;
            border: none;
            background-color: modules.$gray-200;
            color: modules.$gray-400;
            cursor: pointer;

            &.selected {
              background-color: modules.$purple-200;
              color: white;
              font-weight: 600;
            }
          }
        }
      }
    }

    .submit-button {
      margin-top: 20px;
      background-color: #6c60c6;
      color: white;
      border: none;
      padding: 14px;
      font-size: 16px;
      border-radius: 999px;
      cursor: pointer;

      &:hover {
        background-color: #5a4ab5;
      }
    }
  }
}
