// Colors

$yellow-100: #FEECB3;
$yellow-200: #FDE081;
$yellow-300: #FCD54E;
$yellow-400: #FCCA26;
$yellow-500: #FCC100;
$yellow-600: #FCB300;
$yellow-700: #FCA000;
$yellow-800: #FD8F00;
$yellow-900: #FD7000;

$brown-100: #E7C8C3;
$brown-200: #CCA6A1;
$brown-300: #B1857E;
$brown-400: #9C6A64;
$brown-500: #88514A;
$brown-600: #7B4843;
$brown-700: #6B3D39;
$brown-800: #5B3130;
$brown-900: #4A2425;

$black: #000000;
$white: #FFFFFF;

$gray-100: #EEEEEE;
$gray-200: #E2E2E2;
$gray-300: #D0D0D0;
$gray-400: #ABABAB;
$gray-500: #8A8A8A;
$gray-600: #636363;
$gray-700: #505050;
$gray-800: #242424;
$gray-900: #121212;

$red-100: #FFCDD3;
$red-200: #F6999A;
$red-300: #EF7172;
$red-400: #FA4E4E;
$red-500: #FF3A31;

$green-100: #D0F9C8;
$green-200: #AFF5A3;
$green-300: #89EF7B;
$green-400: #65EA58;
$green-500: #39E532;