@use "./mixins";

@font-face {
  font-family: "Pretendard";
  src:
    url("/fonts/Pretendard-Medium.woff2") format("woff2"),
    url("/fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src:
    url("/fonts/Pretendard-Bold.woff2") format("woff2"),
    url("/fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Fonts

.f-title1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
}

.f-title2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.4px;
}

.f-body1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.3px;
}

.f-body2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.3px;
}

.f-caption {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.3px;
}

.f-green {
  color: #3fac75;
}

.f-purple {
  color: #6c60c6;
}

.f-yellow {
  color: #f3be3b;
}

.f-blue {
  color: #3cc4c8;
}

.b-green {
  border: 1px solid #3fac75;
}

.b-purple {
  border: 1px solid #6c60c6;
}

.b-yellow {
  border: 1px solid #f3be3b;
}

.b-blue {
  border: 1px solid #3cc4c8;
}
