@use "./mixins";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
// Fonts

.f-heading1 {
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
}

.f-heading2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.6px;
}

.f-heading3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
}

.f-title1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.4px;
}

.f-title2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.4px;
}

.f-body1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.3px;
}

.f-body2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.3px;
}

.f-caption {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.3px;
}

@include mixins.tablet {
  .f-mobile-heading1 {
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
  }

  .f-mobile-heading2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.6px;
  }

  .f-mobile-heading3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;
  }

  .f-mobile-title1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.4px;
  }

  .f-mobile-title2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.4px;
  }

  .f-mobile-body1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.3px;
  }

  .f-mobile-body2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.3px;
  }

  .f-mobile-caption {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.3px;
  }
}