// _modules.scss
@forward "./fonts";
@forward "./colors";
@forward "./mixins";

#root {
  width: 100%;
  min-height: 100%;
}

:root {
}

// Reset CSS
*,
*::before,
*::after {
  font-family: "Pretendard", "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
