@use "/src/styles/modules";

.home-page-layout {
  .home-my-card-layout {
    margin-top: 32px;
    margin-bottom: 28px;

    .mbti-card-container {
      background: modules.$purple-100;
      padding: 12px;
      border-radius: 8px;

      .title-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 3px;
      }

      .img-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .mbti-image {

          width: 100px;
          height: 100px;
        }
      }

      .mbti-data-container {
        width: 100%;

        .mbti-title {
          text-align: center;
          margin-bottom: 2px;
        }

        .mbti-subtitle {
          text-align: center;
          width: 100%;
          color: modules.$gray-400;
          margin-bottom: 16px;
        }

      }

    }
  }

  .home-vote-card-layout {
    margin-bottom: 28px;

    .home-vote-title {
      margin-bottom: 8px;
    }

    .mbti-vote-card-container {
      width: 100%;
      background: modules.$blue-100;
      border-radius: 8px;
      padding: 12px 16px;


      .title-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 13px;

        .image-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 40px;
          height: 40px;
          background: modules.$white;
          border-radius: 100%;
          margin-right: 6px;
        }

        .title-text {
          margin-right: 4px;
        }

        .subtitle-text {
          color: modules.$gray-300;
        }
      }
    }

    .no-votes-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 160px;
      background: modules.$gray-100;
      border-radius: 8px;

      .no-votes-text {
        color: modules.$gray-300;
      }
    }
  }

  .home-visitors-container {
    .home-visitors-title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      .svg-button {
        display: flex;
        align-items: center;

        color: modules.$purple-300;
        background-color: transparent;

        cursor: pointer;

        border: none;


      }

    }

    .visitors-container {
      width: 100%;
      padding: 16px;
      background: modules.$gray-100;
      border-radius: 8px;

      .visitors-list {
        .visitor-item {
          width: 100%;
          padding: 12px 0;
          border-bottom: 1px solid modules.$gray-200;

          &:last-child {
            border-bottom: none;
          }

          .main-section {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 4px;

            .image-wrapper {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 28px;
              height: 28px;
              background: modules.$white;
              border-radius: 100%;
              margin-right: 8px;

              .profile-image {
                width: 18px;
                height: auto;
              }
            }

            .text-wrapper {
              width: 100%;

              .text {
                color: modules.$gray-400;
              }
            }
          }

          .sub-section {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding-left: 36px;
          }
        }
      }

      .no-data-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 128px;


        .no-data-text {
          color: modules.$gray-300;
        }
      }
    }
  }
}