@use "/src/styles/modules";

.home-page-layout {
  .home-my-card-layout {
    margin-top: 32px;
    margin-bottom: 28px;

    .mbti-card-container {
      background: modules.$purple-100;
      padding: 12px;
      border-radius: 8px;

      .title-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 3px;
      }

      .img-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .mbti-image {

          width: 100px;
          height: 100px;
        }
      }

      .mbti-data-container {
        width: 100%;

        .mbti-title {
          text-align: center;
          margin-bottom: 2px;
        }

        .mbti-subtitle {
          text-align: center;
          width: 100%;
          color: modules.$gray-400;
          margin-bottom: 16px;
        }

      }

    }
  }

  .home-vote-card-layout {
    margin-bottom: 28px;

    .home-vote-title {
      margin-bottom: 8px;
    }

    .mbti-vote-card-container {
      width: 100%;
      background: modules.$blue-100;
      border-radius: 8px;
      padding: 12px 16px;


      .title-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 13px;

        .image-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 40px;
          height: 40px;
          background: modules.$white;
          border-radius: 100%;
          margin-right: 6px;
        }

        .title-text {
          margin-right: 4px;
        }

        .subtitle-text {
          color: modules.$gray-300;
        }
      }
    }
  }

  .home-visitors-container {
    .home-visitors-title {
      margin-bottom: 8px;
    }
  }
}