@use "/src/styles/modules";

.title2 {
  color: modules.$black;
  text-align: center;
  margin-bottom: 24px;
}
.mbti-wrapper {
  display: flex;
  justify-content: center;
  gap: 4px;

  margin-bottom: 40px;
}
.mbti-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid modules.$purple-300;
  border-radius: 6px;
  text-align: center;
}

.slider-wrapper {
  width: 85%;
  color: modules.$gray-200;
  display: flex;
  justify-content: space-between;
  margin: 0 32px;
  margin-bottom: 40px;
}
.slider-wrapper p {
  margin-top: -4px;
  color: modules.$gray-400;
}

/* 슬라이더 전체 컨테이너 */
.slider-container {
  width: 100%;
  position: relative;
  margin: 0 4px;
}

/* 슬라이더 전체 */
.slider {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background-color: #ddd; /* 전체 라인 회색 */
}

/* 선택된 부분 (왼쪽) 보라색 */
.track-0 {
  background-color: modules.$purple-300; /* 보라색 */
  height: 100%;
  border-radius: 4px;
}
.track-1 {
  background-color: modules.$green-200; /* 보라색 */
  height: 100%;
  border-radius: 4px;
}

/* 동그라미(thumb) 스타일 */
.thumb {
  background-color: #fff;
  border: 1px solid modules.$purple-300; /* 보라색 테두리 */
  height: 24px;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -8px; /* 동그라미를 라인 y축 중앙에 맞추기 위한 조정 */
}

/* 퍼센트 표시 */
.percentage {
  position: absolute;
  top: -28px;
  color: black;
  transition: left 0.1s ease;
}
