@use "/src/styles/modules";

.title {
  margin: 26px 0 8px 0;
}
.friend-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
}

.no-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 128px;

  .no-data-text {
    white-space: pre;
    color: modules.$gray-300;
  }
}
