@use "/src/styles/modules";

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;

  .header-logo {
    width: auto;
    height: 32px;
  }

  .menu-item {
    color: modules.$gray-400;
    background: transparent;
    padding: 8px 12px;
    border: none;

    text-decoration: none;

    &:hover {
      color: modules.$white;
    }

    &.active {
      color: modules.$white;
    }
  }
}