@use "/src/styles/modules";

.title-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid modules.$gray-200;

  .back {
    height: 24px;
    width: 24px;
    cursor: pointer;
  }
}
