.setting-mbti-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 56px);
  gap: 24px;
  width: 100%;
  .button-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
